body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 10pt;
    margin-top: 100px !important;
}

h1 {
    color: white !important;
    font-size: 24px !important;
}


body {
    height:800px;
    width: 100%;
    background-color: white;
}

.position > div {
    width:150px;
    border:1px solid black;
    border-radius: 10px;
    font:bold 22px/100px Arial,Sans-Serif;
    color:black;
    text-align:center;
}

#turquise{ background-color: lightseagreen;}

#blue{ background-color: dodgerblue;}

#violet{ background-color: mediumorchid;}

#orange{ background-color: darkorange;}

#red{ background-color: tomato;}

#yellow{ background-color: orange;}

.static {
    position:static;
}

.relative {
    position:relative;
    top:50px;
    left:50px;
}

.absolute {
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.fixed {
    position:fixed;
    bottom:20px;
    right:20px;
}

ul {

    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    border-radius: 15px;
    margin-left: 10px;
    float: left;
    background-color: rgba(5, 34, 129, 0.829);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 15px;
}

li a:hover:not(.active) {
    background-color: #111;
    border-radius: 15px;
}

li a:hover {
    text-decoration: none;
    color: rgb(235, 177, 20);
    border-radius: 15px;
}
.button-primary
{
    min-width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    border: 0px;
    color: white;
}
.button-primary:hover
{
    min-width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
    border: 0px;
    color: white;
}
.active {

    background-color:#007bff;
    border-radius: 15px;
}
.row
{
    text-align: center;
}
.container
{
    width: 100%;

}
.header
{
    max-width: 2000px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    width: 100%;
    height: 592px;
    background-image: url('/views/DefaultController/images/header.jpg');
}
.search
{
    max-width: 2000px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    width: 100%;
    height: 592px;
    background-image: url('/views/DefaultController/images/search.jpg');
}
.description
{
    padding-bottom: 200px;
    font-size: 24px;
}
.author
{

    font-size: 16px;
}
.title
{
    margin-top: 100px;
    font-size: 32px;
}
.price
{
    font-size: 32px;
}
.nav-bar
{

    text-align: center;
    display: inline-block;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}
.user
{
    max-width: 2000px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    width: 100%;
    height: 592px;
}

.main
{
    background-color:#d4d4d4;
    margin-top: 24px;
    min-height: 300px;
    text-align: center;
    float: center;

}

.icon:hover
{
    background-color: rgba(80, 80, 80,0.2);
}
.icon
{
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-left: 20px;
}